<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Sale_Information_System.Mapper.OrderDetailMapper">
    <resultMap id="BaseResultMap" type="OrderDetail">
        <id column="detail_id" property="detailId"/>
        <result column="order_id" property="orderId"/>
        <result column="product_id" property="productId"/>
        <result column="manufacturer_name" property="manufacturerName"/>
        <result column="quantity" property="quantity"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="product_description" property="productDescription"/>
        <result column="unit_price" property="unitPrice"/>
    </resultMap>

    <select id="findByOrderId" resultMap="BaseResultMap">
        SELECT od.*, p.description AS product_description,p.unit_price AS unit_price
        FROM order_detail od
        LEFT JOIN product p ON od.product_id = p.product_id
        WHERE od.order_id = #{orderId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="detailId">
        INSERT INTO order_detail (order_id, product_id, manufacturer_name, quantity, unit_price, total_amount)
        VALUES (#{orderId}, #{productId}, #{manufacturerName}, #{quantity}, #{unitPrice}, #{totalAmount})
    </insert>
</mapper>
